@model LostMonitors.Web.Models.GamesModel

<div id="selection">
    <select id="player1">
        @foreach (var item in Model.AvailablePlayers)
        {
            <option>@item.Name</option> }
    </select> vs.
    <select id="player2">
        @foreach (var item in Model.AvailablePlayers)
        {
            <option>@item.Name</option> }
    </select>
    <button id="start">Start</button>
</div>

<div id="board">
    <div class="outer">
        <div id="player1" class="container hand">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div id="" class="container expedition">
            <div class="row reverse">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row reverse">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row reverse">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row reverse">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row reverse">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
        </div>
        <div id="" class="container discard">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div id="" class="container expedition">
            <div class="row">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
            <div class="row">
                <div class="card">a</div>
                <div class="card">b</div>
                <div class="card">c</div>
                <div class="card">d</div>
                <div class="card">e</div>
                <div class="card">f</div>
                <div class="card">g</div>
                <div class="card">h</div>
                <div class="card">i</div>
                <div class="card">j</div>
                <div class="card">k</div>
                <div class="card">l</div>
            </div>
        </div>
        <div id="player2" class="container hand">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>
    <button id="turn">Turn</button>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/signalr/hubs")
}