@model LostMonitors.Web.Models.GamesModel

<div id="selection">
    <select id="player1">
        @foreach (var item in Model.AvailablePlayers)
        {
            <option>@item.Name</option> }
    </select> vs.
    <select id="player2">
        @foreach (var item in Model.AvailablePlayers)
        {
            <option>@item.Name</option> }
    </select>
    <button id="start">Start</button>
</div>

<div id="board">
    <div class="outer">
        <div id="player1hand" class="container hand">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
        </div>
        <div id="" class="container expedition">
            <div class="row reverse">
                <div class="card">first</div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row reverse">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row reverse">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row reverse">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row reverse">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
        <div id="" class="container discard">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
        <div id="" class="container expedition">
            <div class="row">
                <div class="card">first</div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="row">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
        <div id="player2hand" class="container hand">
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
            <div class="spot"></div>
        </div>
    </div>
    <div class="info">
        <div class="player">
            <span>Player 1</span>
        </div>
        <div id="deck">
            <div class="card">
                <span>44</span>
            </div>
        </div>
        <div class="player">
            <span>Player 2</span>
        </div>
    </div>
</div>
<div id="play">
    
</div>
@section Scripts{
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/signalr/hubs")
}