body {
    margin: 1vw 1vw 1vw 1vw;
}

.outer {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.hand {
    justify-content: center;
    width: 10vw;
    height: 90vh;
}

.discard {
    justify-content: space-around;
    width: 10vw;
    height: 90vh;
}

.expedition {
    width: 28vw;
    height: 90vh;
}

.expedition .row {
    justify-content: space-between;
    align-content: space-between;
    height: 16vh;
    width: 28vw;
    display: flex;
    flex-wrap: wrap;
}

.expedition .reverse {
    flex-direction: row-reverse;
}

.spot {
    border: 1px solid powderblue;
    width: 5vw;
    height: 10vh;
    background-color: aliceblue;
    border-radius: 0.4vw;
}

.card {
    width: 5vw;
    height: 10vh;
    border: 1px solid darksalmon;
    border-radius: 0.4vw;
    background-color: antiquewhite;
}

.expedition .card {
    width: 4vw;
    height: 7vh;
    display: inline-block;
}

.expedition .card span {
    font-size: 2vw;
}

.expedition .place {
    border-color: #ccc;
    background-color: #ccc;
    opacity: 0.1;
}

.discard .pile {
    position: relative;
}

.discard .pile .card {
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 1vh;
    width: 98vw;
}

.player {
    width: 40vw;
    display: flex;
    justify-content: center;
}

.player span {
    align-self: flex-end;
    bottom: 0;
    font-size: 4vw;
}

.player .name {
    width: 30vw;
    font-size: 2vw;
    text-align: center;
}

.player .score {
    width: 10vw;
}

#player1info .score {
    text-align: right;
}

#deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 10vw;
}

#deck .card {
    text-align: center;
    font-size: 4vw;
}

.card span {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 5vw;
    width: 100%;
}

body {
    overflow: hidden;
}

.card.d0 {
    border: 1px solid gold !important;
    background-color: lemonchiffon !important;
    color: gold !important;
}

.card.d1 {
    border: 1px solid dodgerblue !important;
    background-color: lightblue !important;
    color: dodgerblue !important;
}

.card.d2 {
    border: 1px solid silver !important;
    background-color: snow !important;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card.d3 {
    border: 1px solid forestgreen !important;
    background-color: palegreen !important;
    color: forestgreen !important;
}

.card.d4 {
    border: 1px solid firebrick !important;
    background-color: lightcoral !important;
    color: firebrick !important;
}

.auto {
    position: absolute;
    bottom: 0;
    left: 0;
}