body {
    margin: 1vw 1vw 1vw 1vw;
}

.outer {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.hand {
    justify-content: center;
    width: 10vw;
    height: 90vh;
}

.discard {
    justify-content: space-around;
    width: 10vw;
    height: 90vh;
}

.expedition {
    width: 28vw;
    height: 90vh;
}

.expedition .row {
    justify-content: space-between;
    align-content: space-between;
    height: 16vh;
    width: 28vw;
    display: flex;
    flex-wrap: wrap;
}

.expedition .reverse {
    flex-direction: row-reverse;
}

.card {
    width: 5vw;
    height: 10vh;
    border: 1px solid black;
    border-radius: 0.4vw;
}

.expedition .card {
    width: 4vw;
    height: 7vh;
    display: inline-block;
    border-color: #ccc;
    background-color: #ccc;
    opacity: 0.1;
}

.discard .card {

}

.info {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 1vh;
    width: 98vw;
}

.player {
    width: 40vw;
    display: flex;
    justify-content: center;
}

.player span {
    align-self: flex-end;
    bottom: 0;
    font-size: 4vw;
}

.deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 10vw;
}

.deck .card {
    text-align: center;
    font-size: 4vw;
}

.card span {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
}